[[source]]
url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"

[packages]
Django = "*"
django-storages = "*"
djangorestframework = "*"
mysqlclient = "*"
django-auth-ldap = "*"
Pillow = "*"
django-cors-headers = "*"
django-oauth-toolkit = "*"
django-extensions = "*"
django-dbbackup = "*"
drf-extensions = "*"
django-mathfilters = "*"
boto = "*"
fiobank = "*"
qrcode = "*"

[dev-packages]
codeclimate-test-reporter = "*"
coverage = "==4.3.4"
django-nose = "*"
freezegun = "*"
mock = "*"
model_mommy = "*"
nose = "*"
pylama = "*"
pylint = "*"
pytest-django = "*"
pytest-watch = "*"
pytest = "*"
python-dateutil = "*"
pytest-cov = "*"
pyflakes = "*"
"flake8" = "*"
