{% extends 'stats/bootstrap.html' %}
{% load i18n static %}

{% block breadcrumbs %}
<div class="breadcrumbs">
  <a href="{% url 'admin:index' %}">{% trans 'Home' %}</a>
  &rsaquo;
  <a href="{% url 'admin:stats' %}">{% trans 'Stats' %}</a>
  &rsaquo; {{festival.year}}
  &rsaquo; {% trans 'Hotel Inhabitants' %}
</div>
{% endblock %}


{% block bscontent %}
{% for accomodation in data %}
  {% if accomodation.rooms %}
    <div>
      <h1>{{accomodation.name}}</h1>
      <div class="row">
        {% for room in accomodation.rooms %}
          <div class="col-lg-6">
            <div class="card mb-3">
              <div class="card-header">
                {{room.number}}
              </div>
              {% include 'stats/inhabitants_table.html' with participants=room.inhabitants %}
            </div>
          </div>
        {% endfor %}
        {% if accomodation.without_room %}
          <div class="col-lg-6">
            <div class="card mb-3">
              <div class="card-header">
                {% trans 'Without room' %}
              </div>
              {% include 'stats/inhabitants_table.html' with participants=accomodation.without_room %}
            </div>
          </div>
        {% endif %}
      </div>
    </div>
  {% endif %}
{% endfor %}
{% endblock %}
