{% extends 'stats/bootstrap.html' %}
{% load i18n static %}

{% block breadcrumbs %}
<div class="breadcrumbs">
  <a href="{% url 'admin:index' %}">{% trans 'Home' %}</a>
  &rsaquo;
  <a href="{% url 'admin:stats' %}">{% trans 'Stats' %}</a>
  &rsaquo; {{festival.year}}
  &rsaquo; {% trans 'Ordered Food' %}
</div>
{% endblock %}

{% block bscontent %}
<div id="content-main">
  <div class="app-stasts module">
    <h1>Food {{ festival.year }}</h1>

    <h2>Picked</h2>
    <table>
      <thead>
        <tr>
          <th>Food</th>
          <th>Date</th>
          <th>Paid Confirmed</th>
          <th>Unpaid Confirmed</th>
        </tr>
      </thead>
      <tbody>
        {% for food in order %}
          <tr>
            <td>{{ food.name }}</td>
            <td>{{ food.meal.date }}</td>
            <td>{{ food.paid_reservations }}</td>
            <td>{{ food.unpaid_reservations }}</td>
          </tr>
        {% endfor %}
      </tbody>
    </table>

    <hr />

    <div class="row">
      <div class="col-12 col-lg-6">
        <h2>Paid Unpicked</h2>
        {% for meal in meals %}
          {% include 'stats/food_stats_unpicked_table.html' with unpicked_count=meal.unpicked_paid_reservations_count unpicked_reservations=meal.unpicked_paid_reservations %}
        {% endfor %}
      </div>

      <div class="col-12 col-lg-6">
        <h2>Unpaid Unpicked</h2>
        {% for meal in meals %}
          {% include 'stats/food_stats_unpicked_table.html' with unpicked_count=meal.unpicked_unpaid_reservations_count unpicked_reservations=meal.unpicked_unpaid_reservations %}
        {% endfor %}
      </div>
    </div>
  </div>
</div>
{% endblock %}
