{% extends 'stats/bootstrap.html' %}
{% load i18n static %}

{% block breadcrumbs %}
<div class="breadcrumbs">
  <a href="{% url 'admin:index' %}">{% trans 'Home' %}</a>
  &rsaquo;
  <a href="{% url 'admin:stats' %}">{% trans 'Stats' %}</a>
  &rsaquo; {{festival.year}}
  &rsaquo; {% trans 'Food Delivery' %}
</div>
{% endblock %}

{% block bscontent %}
<div class="cotnainer-fluid">
  <h1>Food per location {{ festival.year }}</h1>

  {% for delivery_meal in delivery %}
  <div>
    <h2>{{delivery_meal.date}}</h2>
    <div class="row">
      {% for delivery_location in delivery_meal.delivery %}
      <div class="col-12 col-md-6 col-lg-4 col-xl-3">
        <div class="card">
          <div class="card-header">
            <h3 class="card-titlte">{{delivery_location.name}}</h3>
          </div>

          <table>
            <thead>
              <tr>
                <th>Food</th>
                <th>Deliver</th>
              </tr>
            </thead>
            <tbody>
              {% for food in delivery_location.delivery %}
                <tr>
                  <td>{{ food.name }}</td>
                  <td>{{ food.deliver }}</td>
                </tr>
              {% endfor %}
            </tbody>
          </table>
        </div>
      </div>
    </div>
    {% endfor %}
  </div>
  <hr />
  {% endfor %}
</div>
{% endblock %}
