{% extends 'stats/bootstrap.html' %}
{% load i18n static %}

{% block breadcrumbs %}
<div class="breadcrumbs">
  <a href="{% url 'admin:index' %}">{% trans 'Home' %}</a>
  &rsaquo;
  <a href="{% url 'admin:stats' %}">{% trans 'Stats' %}</a>
  &rsaquo; {{festival.year}}
  &rsaquo; {% trans 'Workshops' %}
</div>
{% endblock %}

{% block bscontent %}
<div class="container">
  {% for workshop in workshops %}
  <div class="card" style="page-break-after: always">
    <div class="card-header">
      <h2 class="card-title mb-0">{{workshop.name}}</h2>
    </div>
    <ul class="list-group list-group-flush">
      {% for participant in workshop.participants %}
        <li class="list-group-item">
          {{participant}}{% if participant.team %} [{{participant.team}}]{% endif %}
        </li>
      {% endfor %}
    </ul>
  </div>
  {% endfor %}
</div>
{% endblock %}
