{% extends "stats/bootstrap.html" %}

{% block content %}
<div class="container">
  {% for workshop in workshops %}
  <div class="card" style="page-break-after: always">
    <div class="card-block">
      <h2 class="card-title">{{workshop.name}} ({{workshop.participant_count}})</h2>
    </div>
    <ul class="list-group list-group-flush">
      {% for participant in workshop.participant_list %}
      <li class="list-group-item">
          {{ participant.name }}
      </li>
      {% endfor %}
    </ul>
  </div>
  {% endfor %}
</div>
{% endblock %}
